.snake-pixel {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(33, 53, 71, 0.1);
  z-index: -1;
}

@keyframes snakeMove {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(100vw, 0);
  }

  50% {
    transform: translate(100vw, 100vh);
  }

  75% {
    transform: translate(0, 100vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.typing-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  width: 0;
  margin: 0 auto;
  display: inline-block;
  animation: typing 2s steps(15) forwards,
    blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 14ch
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}